.advantages {
    padding-top: 70px;
    min-height: 470px;
    background-color: #f6f6f6;

    &__wrapper {
        display: flex;
        justify-content: space-between;
        margin-top: 65px;
    }

    &__item {
        width: 245px;

        img {
            display: block;
            width: 70px;
            margin: 0 auto;
        }
    }

    &__subtitle {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 700;
        color: $main-balck;
        text-align: center;
        margin-top: 38px;
    }

    &__descr {
        font-size: 14px;
        line-height: 1.2;
        font-weight: 300;
        color: $main-balck;
        margin-top: 26px;
        text-align: center;
    }

    &__link {
        color: $main-color;
        text-decoration: underline;

        &:hover {
            color: $main-color;
            text-decoration: none;
        }
    }

    &__icon {
        &_animated {
            animation-name: heartbeat;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            &:hover {
                animation-play-state: paused;
            }
        }
    }
}
