.title {
    font-size: 30px;
    line-height: 1.2;
    font-weight: 700;
    color: $main-balck;
    text-align: center;

    &_left {
        font-size: 36px;
        text-align: left;
        color: white;
    }
}